p, h1{

    text-align: center;

}


body{

background-color: cadetblue;

}

ol li:hover {

    background-color: aquamarine;
    list-style:none;
    width: 200px;

}
.lista1{

    list-style:none;
}
.lista1:active {

    color:white;
    font-size: larger;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
    

}

.lista2{

    list-style:none;
}